{% set environment = salt.grains.get('environment') %}
{% set db_username = salt.pillar.get('ocw:db_username') %}
{% set db_password = salt.pillar.get('ocw:db_password') %}
{% set cms_username = salt.pillar.get('ocw:cms_username') %}
{% set cms_password = salt.pillar.get('ocw:cms_password') %}
{% set dspace_prod_connection_user = salt.pillar.get('ocw:dspace_prod_connection_user') %}
{% set dspace_prod_connection_password = salt.pillar.get('ocw:dspace_prod_connection_password') %}
{% set dspace_test_connection_user = salt.pillar.get('ocw:dspace_test_connection_user') %}
{% set dspace_test_connection_password = salt.pillar.get('ocw:dspace_test_connection_password') %}
{% set engines_conf = salt.pillar.get('ocw:engines_conf') %}
{% set mirror = salt.pillar.get('ocw:mirror') %}

[engine]
working_root_dir: /mnt/ocwfileshare/OCWEngines/working
production_holding_area: /mnt/ocwfileshare/OCWEngines/PHA
static_zip_file_dir: /mnt/ocwfileshare/OCWEngines/static_files
tombstone_zip_file_dir : tombstone_files
dspace_tombstone_zip_file_dir : dspace_tombstone_files

[database]
host: {{ engines_conf.database.host }}
port: 3306
dbname: OCWDB
username: {{ db_username }}
password: {{ db_password }}

[CMS]
url: {{ engines_conf.cms.url }}
user: {{ cms_username }}
password: {{ cms_password }}
host: {{ engines_conf.cms.host }}
engine_host: {{ engines_conf.cms.engine_host }}

[Staging]
url: {{ engines_conf.staging.url }}
host: {{ engines_conf.staging.host }}
user: {{ engines_conf.staging.user }}
rootdirectory: /var/www/ocw

[Production]
url: {{ engines_conf.production.url }}
host: {{ engines_conf.production.host }}
user: fsuser
rootdirectory: /var/www/ocw

[Mirror]
url: {{ engines_conf.mirror.url }}
host: {{ engines_conf.mirror.host }}
user: {{ mirror.fs_owner }}
rootdirectory: {{ mirror.rootdirectory }}
mirror_create_snapshot_script: "/var/lib/ocwcms/mirror/scripts/create_new_snapshot.sh"
mirror_update_snapshot_script: "/var/lib/ocwcms/mirror/scripts/update_snapshot.sh"

[NetStorage]
host: {{ engines_conf.netstorage.host }}
user: sshacs
rootdirectory: {{ engines_conf.netstorage.rootdirectory }}
zipurlprefix: {{ engines_conf.netstorage.zipurlprefix }}

[DSpace]
retiredcourseziproot: {{ engines_conf.dspace.retiredcourseziproot }}
deposit_uri_lookup_file_path = Configurations
current_environment: {{ engines_conf.dspace.current_environment }}

[Test_Dspace_conf]
dspace_host_id: {{ engines_conf.test_dspace_conf.dspace_host_id }}
dspace_host_port: {{ engines_conf.test_dspace_conf.dspace_host_port }}
dspace_connection_user: {{ dspace_test_connection_user }}
dspace_connection_password: {{ dspace_test_connection_password }}
dspace_endpoint_prefix: {{ engines_conf.test_dspace_conf.dspace_endpoint_prefix }}
deposit_uri_lookup_file_name: UAT_DepositURILookup.xml

[Production_Dspace_conf]
dspace_host_id: {{ engines_conf.production_dspace_conf.dspace_host_id }}
dspace_host_port: {{ engines_conf.production_dspace_conf.dspace_host_port }}
dspace_connection_user: {{ dspace_prod_connection_user }}
dspace_connection_password: {{ dspace_prod_connection_password }}
dspace_endpoint_prefix: {{ engines_conf.production_dspace_conf.dspace_endpoint_prefix }}
deposit_uri_lookup_file_name: DepositURILookup.xml
