{% from "shared/edx/mitx-roles.jinja" import edx_role_based_data with context %}

{% set edx = salt.grains.filter_by({
    'default': {
        'edxapp_tls_location_name': '/etc/pki/tls/certs',
        'edxapp_tls_key_name': 'edx-ssl-cert',
        'edxapp_max_upload_size': 20,
        'edxapp_git_repo_dir': edx_role_based_data.edxapp_git_repo_dir,
        'edxapp_aws_grades_root_path': edx_role_based_data.edxapp_aws_grades_root_path,
        'edxapp_course_about_visibility_permission': edx_role_based_data.edxapp_course_about_visibility_permission,
        'edxapp_course_catalog_visibility_permission': edx_role_based_data.edxapp_course_catalog_visibility_permission,
        'edxapp_upload_storage_prefix': edx_role_based_data.edxapp_upload_storage_prefix,
        'edxapp_log_env_suffix': edx_role_based_data.edxapp_log_env_suffix,
        'ssh_key': salt.vault.read('secret-residential/global/mitx-ssh-key').data.value,
    },
    'mitx-qa': {
        'edxapp_cms_domain': edx_role_based_data.edxapp_cms_domain__qa,
        'edxapp_lms_domain': edx_role_based_data.edxapp_lms_domain__qa,
        'edxapp_lms_preview_domain': edx_role_based_data.edxapp_lms_preview_domain__qa,
        'edxapp_aws_grades_bucket_name': edx_role_based_data.edxapp_aws_grades_bucket_name__qa,
        'efs_id': 'fs-6f55af26',
        'edxapp_aws_storage_bucket_name': edx_role_based_data.edxapp_aws_storage_bucket_name__qa,
        'edxapp_google_analytics_account': '',
    },
    'mitx-production': {
        'efs_id': 'fs-1f27ae56',
        'edxapp_google_analytics_account': edx_role_based_data.edxapp_google_analytics_account,
    }
}, grain='environment', base='default') %}
