{% set edx_role_based_data = salt.match.filter_by({
    'G@roles:edx-draft or P@purpose:.*?-draft': {
        'edxapp_git_repo_dir': '/mnt/data/repos',
        'edxapp_google_analytics_account': 'UA-5145472-5',
        'edxapp_course_about_visibility_permission': 'staff',
        'edxapp_course_catalog_visibility_permission': 'staff',
        'edxapp_aws_grades_root_path': 'rp-dev/grades',
        'edxapp_upload_storage_prefix': 'submissions_attachments_dev',
        'edxapp_log_env_suffix': 'dev',
    },
    'G@roles:edx-live or P@purpose:.*?-live': {
        'edxapp_git_repo_dir': '/mnt/data/prod_repos',
        'edxapp_google_analytics_account': 'UA-5145472-4',
        'edxapp_course_about_visibility_permission': 'see_exists',
        'edxapp_course_catalog_visibility_permission': 'see_exists',
        'edxapp_aws_grades_root_path': 'rp-prod/grades',
        'edxapp_upload_storage_prefix': 'submissions_attachments_prod',
        'edxapp_log_env_suffix': 'prod',
    }
}) %}
