{% set edxapp = salt.pillar.get('edx:edxapp') %}
{% set xqueue = salt.pillar.get('edx:xqueue') %}
### XQUEUE ENVIRONMENT ###

xqueue_env_config:
  XQUEUES:
    {% for key, value in xqueue.queues.items() %}
      {{ key }}: {{ value }}
    {% endfor %}
{% raw %}
  RABBIT_VHOST: '{{ xqueue.rabbit_vhost }}'
  XQUEUE_WORKERS_PER_QUEUE: 2
  LOGGING_ENV: prod
  LOG_DIR: /logs
  SYSLOG_SERVER: "{{ SYSLOG_SERVER }}"
  RABBIT_HOST: rabbitmq.service.consul
  S3_BUCKET_PREFIX: '{{ AWS_GRADES_BUCKET_NAME }}'
{% endraw %}
xqueue_create_db: no

{% raw %}
xqueue_auth_config:
  AWS_ACCESS_KEY_ID: "{{ AWS_ACCESS_KEY_ID }}"
  AWS_SECRET_ACCESS_KEY: "{{ AWS_SECRET_ACCESS_KEY }}"
  REQUESTS_BASIC_AUTH:
    - mitx
    - '{{ XQUEUE_PASSWORD }}'
  USERS:
    '{{ XQUEUE_USER }}': '{{ XQUEUE_PASSWORD }}'
    xqueue_pull: "{{ XQUEUE_PULL_PASSWORD }}"
  RABBITMQ_USER: '{{ CELERY_BROKER_USER }}'
  RABBITMQ_PASS: '{{ CELERY_BROKER_PASSWORD }}'
  DATABASES:
    default:
      ENGINE: django.db.backends.mysql
      NAME: '{{ XQUEUE_MYSQL_DATABASE }}'
      USER: '{{ XQUEUE_MYSQL_USER }}'
      PASSWORD: '{{ XQUEUE_MYSQL_PASSWORD}}'
      HOST: '{{ MYSQL_HOST }}'
      PORT: '{{ MYSQL_PORT }}'
{% endraw %}

### EDXAPP ENVIRONMENT ###

{% for key, value in edxapp.items() %}
{{ key }}: {{ value }}
{% endfor %}

MONGODB_REPLICASET: {{ salt.pillar.get('mongodb:replset_name', 'rs0') }}

{% raw %}
EDX_DOMAIN: '{{ EDX_NAME }}.{{ EDX_ZONE }}'

# Nginx sites overrides
EDXAPP_PREVIEW_LMS_BASE: 'preview-{{ EDX_DOMAIN }}'
EDXAPP_LMS_BASE: '{{ EDX_DOMAIN }}'
EDXAPP_CMS_BASE: 'studio-{{ EDX_DOMAIN }}'
EDXAPP_INSTALL_PRIVATE_REQUIREMENTS: true
EDXAPP_MYSQL_USER_MIGRATE: "lms"
EDXAPP_MYSQL_PASSWORD_MIGRATE: "{{ MYSQL_PASSWORD }}"
EDXAPP_AWS_STORAGE_BUCKET_NAME: "{{ AWS_STORAGE_BUCKET_NAME }}"
EDXAPP_CMS_ROOT_URL: "{{ EDXAPP_CMS_BASE_SCHEME | default('https') }}://{{ EDXAPP_CMS_BASE }}"
EDXAPP_CMS_ISSUER: "{{ EDXAPP_CMS_ROOT_URL }}/oauth2"

EDXAPP_LMS_ROOT_URL: "{{ EDXAPP_LMS_BASE_SCHEME | default('https') }}://{{ EDXAPP_LMS_BASE }}"
EDXAPP_LMS_ISSUER: "{{ EDXAPP_LMS_ROOT_URL }}/oauth2"

common_debian_pkgs:
  - ntp
  - acl
  - lynx-cur
  - logrotate
  - rsyslog
  - git
  - unzip
  - python2.7
  - python-pip
  - python2.7-dev

edxapp_workers:
  - queue: low
    service_variant: cms
    concurrency: 1
    monitor: True
  - queue: default
    service_variant: cms
    concurrency: 1
    monitor: True
  - queue: high
    service_variant: cms
    concurrency: 1
    monitor: True
  - queue: low
    service_variant: lms
    concurrency: 1
    monitor: True
  - queue: default
    service_variant: lms
    concurrency: 2
    monitor: True
  - queue: high
    service_variant: lms
    concurrency: 2
    monitor: True
  - queue: high_mem
    service_variant: lms
    concurrency: 1
    monitor: False
    max_tasks_per_child: 1



edxapp_generic_doc_store_config: &edxapp_generic_default_docstore
  db: "{{ EDXAPP_MONGO_DB_NAME }}"
  host: "{{ MONGODB_HOST }}"
  password: "{{ EDXAPP_MONGO_PASSWORD }}"
  port: "{{ MONGODB_PORT }}"
  user: "{{ EDXAPP_MONGO_USER }}"
  collection:  'modulestore'
  replicaset: "{{ MONGODB_REPLICASET }}"
  readPreference: "nearest"

#####################################################################
########### Auth Configs ############################################
#####################################################################

#Use YAML references (& and *) and hash merge <<: to factor out shared settings
#see http://atechie.net/2009/07/merging-hashes-in-yaml-conf-files/
edxapp_generic_auth_config: &generic_auth_config
  ANALYTICS_API_KEY: ""
  AWS_ACCESS_KEY_ID: "{{ AWS_ACCESS_KEY_ID }}"
  AWS_SECRET_ACCESS_KEY: "{{ AWS_SECRET_ACCESS_KEY }}"
  AWS_STORAGE_BUCKET_NAME: "{{ EDXAPP_AWS_STORAGE_BUCKET_NAME }}"
  CELERY_BROKER_PASSWORD: "{{ CELERY_BROKER_PASSWORD }}"
  CELERY_BROKER_USER: "{{ CELERY_BROKER_USER }}"
  DOC_STORE_CONFIG:
    <<: *edxapp_generic_default_docstore
    db: "{{ MONGODB_MODULESTORE_DB }}"
    password: "{{ MONGODB_MODULESTORE_PASSWORD }}"
    user: "{{ MONGODB_MODULESTORE_USER }}"
  CONTENTSTORE:
    ENGINE: "{{ MONGODB_CONTENTSTORE_ENGINE }}"
    OPTIONS:
      <<: *edxapp_generic_default_docstore
      db: "{{ MONGODB_CONTENTSTORE_DB }}"
      password: "{{ MONGODB_CONTENTSTORE_PASSWORD }}"
      user: "{{ MONGODB_CONTENTSTORE_USER }}"
    DOC_STORE_CONFIG:
      <<: *edxapp_generic_default_docstore
      db: "{{ MONGODB_CONTENTSTORE_DB }}"
      password: "{{ MONGODB_CONTENTSTORE_PASSWORD }}"
      user: "{{ MONGODB_CONTENTSTORE_USER }}"
  DATABASES:
    default:
      ENGINE: "django.db.backends.mysql"
      HOST: "{{ MYSQL_HOST }}"
      NAME: "{{ MYSQL_DATABASE }}"
      PASSWORD: "{{ MYSQL_PASSWORD }}"
      PORT: "{{ MYSQL_PORT }}"
      USER: "{{ MYSQL_USER }}"
  XQUEUE_INTERFACE:
    # basic_auth:
    #   - "mitx"
    #   - "{{ XQUEUE_PASSWORD }}"
    django_auth:
      password: "{{ XQUEUE_PASSWORD }}"
      username: "{{ XQUEUE_USER }}"
    url: "http://localhost:8040"
    callback_url: "http://localhost:8199"
  YOUTUBE_API_KEY: "{{ YOUTUBE_API_KEY }}"
  ZENDESK_API_KEY: ""
  ZENDESK_USER: ""
  OPEN_ENDED_GRADING_INTERFACE:
    grading_controller: "grading_controller"
    password: "{{ XQUEUE_PASSWORD }}"
    peer_grading: "peer_grading"
    staff_grading: "staff_grading"
    url: "http://localhost:8060/"
    username: "{{ XQUEUE_USER }}"
  PEARSON_TEST_PASSWORD: ""

lms_auth_config:
  <<: *generic_auth_config
  MODULESTORE:
    default:
      ENGINE: "{{ MONGODB_MODULESTORE_ENGINE }}"
      OPTIONS:
        <<: *edxapp_generic_default_docstore
        db: "{{ MONGODB_MODULESTORE_DB }}"
        default_class: "xmodule.raw_module.RawDescriptor"
        fs_root: "{{ GIT_REPO_DIR }}"
        password: "{{ MONGODB_MODULESTORE_PASSWORD }}"
        render_template: "edxmako.shortcuts.render_to_string"
        user: "{{ MONGODB_MODULESTORE_USER }}"
      DOC_STORE_CONFIG:
        <<: *edxapp_generic_default_docstore
        db: "{{ MONGODB_MODULESTORE_DB }}"
        password: "{{ MONGODB_MODULESTORE_PASSWORD }}"
        user: "{{ MONGODB_MODULESTORE_USER }}"
  SECRET_KEY: "{{ LMS_DJANGO_SECRET_KEY }}"
  MONGODB_LOG:
    db: "{{ MONGODB_LOG_DB }}"
    host: "{{ MONGODB_HOST }}"
    user: "{{ MONGODB_LOG_USER }}"
    password: "{{ MONGODB_LOG_PASSWORD }}"
    replicaset: "{{ MONGODB_REPLICASET }}"
    readPreference: "nearest"


cms_auth_config:
  <<: *generic_auth_config
  DEFAULT_FEEDBACK_EMAIL: "{{ DEFAULT_FEEDBACK_EMAIL }}"
  DEFAULT_FROM_EMAIL: "{{ DEFAULT_FROM_EMAIL }}"
  MODULESTORE:
    default:
      ENGINE: "xmodule.modulestore.mongo.DraftMongoModuleStore"
      OPTIONS:
        <<: *edxapp_generic_default_docstore
        db: "{{ MONGODB_MODULESTORE_DB }}"
        default_class: "xmodule.raw_module.RawDescriptor"
        fs_root: "{{ GIT_REPO_DIR }}"
        password: "{{ MONGODB_MODULESTORE_PASSWORD }}"
        render_template: "edxmako.shortcuts.render_to_string"
        user: "{{ MONGODB_MODULESTORE_USER }}"
      DOC_STORE_CONFIG:
        <<: *edxapp_generic_default_docstore
        db: "{{ MONGODB_MODULESTORE_DB }}"
        password: "{{ MONGODB_MODULESTORE_PASSWORD }}"
        user: "{{ MONGODB_MODULESTORE_USER }}"
    direct:
      ENGINE: "{{ MONGODB_MODULESTORE_ENGINE }}"
      OPTIONS:
        <<: *edxapp_generic_default_docstore
        db: "{{ MONGODB_MODULESTORE_DB }}"
        default_class: "xmodule.raw_module.RawDescriptor"
        fs_root: "{{ GIT_REPO_DIR }}"
        password: "{{ MONGODB_MODULESTORE_PASSWORD }}"
        render_template: "edxmako.shortcuts.render_to_string"
        user: "{{ MONGODB_MODULESTORE_USER }}"
      DOC_STORE_CONFIG:
        <<: *edxapp_generic_default_docstore
        db: "{{ MONGODB_MODULESTORE_DB }}"
        password: "{{ MONGODB_MODULESTORE_PASSWORD }}"
        user: "{{ MONGODB_MODULESTORE_USER }}"
  SECRET_KEY: "{{ CMS_DJANGO_SECRET_KEY }}"


#####################################################################
########### Environment Configs #####################################
#####################################################################

edxapp_generic_env_config: &generic_env_config
  ADDL_INSTALLED_APPS:
    - ubcpi
  ADMINS:
  - ['{{ ADMIN_EMAIL_NAME }}', '{{ ADMIN_EMAIL }}']
  ANALYTICS_SERVER_URL: ""
  BOOK_URL: ""
  BUGS_EMAIL: "{{ BUGS_EMAIL }}"
  CACHES:
    celery:
      BACKEND: "django.core.cache.backends.memcached.MemcachedCache"
      KEY_FUNCTION: "util.memcache.safe_key"
      KEY_PREFIX: "integration_celery"
      LOCATION:
        - "localhost:11211"
    default:
      BACKEND: "django.core.cache.backends.locmem.LocMemCache"
      KEY_FUNCTION: "util.memcache.safe_key"
      KEY_PREFIX: "sandbox_default"
      LOCATION: "mitx_loc_mem_cache"
    general:
      BACKEND: "django.core.cache.backends.dummy.DummyCache"
      KEY_FUNCTION: "util.memcache.safe_key"
      KEY_PREFIX: "general"
      LOCATION:
        - "localhost:11211"
      VERSION: 4
    mongo_metadata_inheritance:
      BACKEND: "django.core.cache.backends.locmem.LocMemCache"
      KEY_FUNCTION: "util.memcache.safe_key"
      KEY_PREFIX: "integration_mongo_metadata_inheritance"
      LOCATION: "mitx_loc_mem_cache"
    staticfiles:
      BACKEND: "django.core.cache.backends.memcached.MemcachedCache"
      KEY_FUNCTION: "util.memcache.safe_key"
      KEY_PREFIX: "integration_static_files"
      LOCATION:
        - "localhost:11211"
  CAS_SERVER_URL: '{{ CAS_SERVER_URL }}'
  CAS_ATTRIBUTE_CALLBACK:
    module: '{{ CAS_ATTRIBUTE_CALLBACK_MODULE }}'
    function: '{{ CAS_ATTRIBUTE_CALLBACK_FUNCTION }}'
  CAS_EXTRA_LOGIN_PARAMS:
    provider: '{{ CAS_LOGIN_PROVIDER }}'
    appname: '{{ CAS_LOGIN_APPNAME }}'
  CELERY_BROKER_HOSTNAME: "rabbitmq.service.consul"
  CELERY_BROKER_TRANSPORT: "amqp"
  CELERY_BROKER_VHOST: '/{{ rabbitmq_vhost}}'
  CERT_QUEUE: "certificates"
  CMS_BASE: "{{ EDXAPP_CMS_BASE }}"
  CODE_JAIL:
    limits:
      REALTIME: 3
      CPU: 3
      FSIZE: 1048576
      PROXY: 0
      VMEM: 536870912
    python_bin: "{{ edxapp_sandbox_venv_dir }}/bin/python"
    user: "{{ edxapp_sandbox_user }}"
  COMMENTS_SERVICE_KEY: "{{ COMMENTS_SERVICE_KEY }}"
  COMMENTS_SERVICE_URL: "http://localhost:4567"
  CONTACT_EMAIL: "{{ CONTACT_EMAIL }}"
  COMPREHENSIVE_THEME_DIR: "{{ EDXAPP_COMPREHENSIVE_THEME_DIR }}/{{ THEME_NAME }}"
  DEFAULT_FEEDBACK_EMAIL: "{{ DEFAULT_FEEDBACK_EMAIL }}"
  DEFAULT_FROM_EMAIL: "{{ DEFAULT_FROM_EMAIL }}"
  DEFAULT_SITE_THEME: "{{ THEME_NAME }}"
  EMAIL_BACKEND: "django.core.mail.backends.smtp.EmailBackend"
  ENABLE_COMPREHENSIVE_THEMING: true
  FEEDBACK_SUBMISSION_EMAIL: ""
  FILE_UPLOAD_STORAGE_BUCKET_NAME: "{{ AWS_STORAGE_BUCKET_NAME }}"
  FILE_UPLOAD_STORAGE_PREFIX: "{{ UPLOAD_STORAGE_PREFIX }}"
  LMS_BASE: "{{ LMS_NAME }}"
  LOCAL_LOGLEVEL: "DEBUG"
  MEDIA_URL: ""
  ORA2_FILE_PREFIX: "{{ env }}-dev/ora2"
  SEGMENT_IO_LMS: true
  SERVER_EMAIL: "{{ SERVER_EMAIL }}"
  SESSION_COOKIE_DOMAIN: !!null
  SESSION_ENGINE: "django.contrib.sessions.backends.db"
  STATIC_ROOT_BASE: "/edx/var/edxapp/staticfiles"
  SYSLOG_SERVER: "{{ SYSLOG_SERVER }}"
  TECH_SUPPORT_EMAIL: "{{ TECH_SUPPORT_EMAIL }}"
  THEME_NAME: "{{ THEME_NAME }}"
  TIME_ZONE: "{{ TIME_ZONE }}"
  TIME_ZONE_DISPLAYED_FOR_DEADLINES: "{{ TIME_ZONE }}"
  WIKI_ENABLED: true

common_feature_flags: &common_feature_flags
  ACCESS_REQUIRE_STAFF_FOR_COURSE: true
  ALLOW_ALL_ADVANCED_COMPONENTS: true
  AUTH_USE_CAS: true
  AUTH_USE_CERTIFICATES: false
  AUTH_USE_CERTIFICATES_IMMEDIATE_SIGNUP: true
  AUTH_USE_MIT_CERTIFICATES: false
  AUTH_USE_MIT_CERTIFICATES_IMMEDIATE_SIGNUP: true
  AUTH_USE_OPENID_PROVIDER: false
  BYPASS_ACTIVATION_EMAIL_FOR_EXTAUTH: true
  CERTIFICATES_ENABLED: true
  DISABLE_LOGIN_BUTTON: false
  DISPLAY_HISTOGRAMS_TO_STAFF: true
  ENABLE_COURSE_BLOCKS_NAVIGATION_API: true
  ENABLE_DISCUSSION_SERVICE: true
  ENABLE_INSTRUCTOR_ANALYTICS: true
  ENABLE_INSTRUCTOR_LEGACY_DASHBOARD: true
  ENABLE_PEARSON_HACK_TEST: false
  ENABLE_RENDER_XBLOCK_API: true
  ENABLE_SPECIAL_EXAMS: true
  PREVIEW_LMS_BASE: "{{ EDXAPP_PREVIEW_LMS_BASE}}"
  REROUTE_ACTIVATION_EMAIL: "{{ REROUTE_ACTIVATION_EMAIL }}"
  SUBDOMAIN_BRANDING: false
  SUBDOMAIN_COURSE_LISTINGS: false
  USE_CUSTOM_THEME: false

lms_env_config:
  <<: *generic_env_config
  COURSES_WITH_UNSAFE_CODE: "{{ COURSES_WITH_UNSAFE_CODE }}"
  BULK_EMAIL_DEFAULT_FROM_EMAIL: "{{ BULK_EMAIL_DEFAULT_FROM_EMAIL }}"
  PLATFORM_NAME: "{{ PLATFORM_NAME }}"
  MKTG_URL_LINK_MAP:
    CONTACT: !!null
    FAQ: !!null
    HONOR: !!null
    PRIVACY: !!null
  GRADES_DOWNLOAD:
    'STORAGE_TYPE': 'S3'
    'BUCKET': "{{ AWS_GRADES_BUCKET_NAME }}"
    'ROOT_PATH': "{{ AWS_GRADES_ROOT_PATH }}"
  LOGGING_ENV: "{{ LMS_LOG_ENV }}"
  LOG_DIR: "{{ LMS_LOG_DIR }}"
  FEATURES:
    <<: *common_feature_flags
    ALLOW_COURSE_STAFF_GRADE_DOWNLOADS: true
    ENABLE_AUTO_COURSE_REGISTRATION: true
    ENABLE_INSTRUCTOR_EMAIL: true
    ENABLE_PAID_COURSE_REGISTRATION: false
    ENABLE_PSYCHOMETRICS: false
    ENABLE_S3_GRADE_DOWNLOADS: true
    ENABLE_SHOPPING_CART: true
    ENABLE_SYSADMIN_DASHBOARD: true
    INDIVIDUAL_DUE_DATES: true
    LICENSING: true
    REMOTE_GRADEBOOK_URL: "{{ REMOTE_GRADEBOOK_URL }}"
    REQUIRE_COURSE_EMAIL_AUTH: false
  SITE_NAME: "{{ LMS_NAME }}"
  GIT_REPO_DIR: "{{ GIT_REPO_DIR }}"
  GIT_IMPORT_STATIC: false
  OAUTH_OIDC_ISSUER: "{{ EDXAPP_LMS_ISSUER }}"

cms_env_config:
  <<: *generic_env_config
  LOGGING_ENV: "{{ CMS_LOG_ENV }}"
  LOG_DIR: "{{ CMS_LOG_DIR }}"
  FEATURES:
    <<: *common_feature_flags
    ALLOW_COURSE_RERUNS: false
    ALLOW_HIDING_DISCUSSION_TAB: true
    DISABLE_COURSE_CREATION: false
    DISABLE_START_DATES: true
    ENABLE_EXPORT_GIT: true
    ENABLE_PUSH_TO_LMS: true
    ENABLE_SQL_TRACKING_LOGS: true
    SEGMENT_IO: false
    STAFF_EMAIL: "{{ STAFF_EMAIL }}"
  SITE_NAME: "{{ EDXAPP_CMS_BASE }}"
  OAUTH_OIDC_ISSUER: "{{ EDXAPP_CMS_ISSUER }}"

################################################################################
#################### Forum Settings ############################################
################################################################################

FORUM_USE_TCP: True
FORUM_MONGO_HOSTS:
  - mongodb-master.service.consul
FORUM_MONGO_URL: "mongodb://{{ FORUM_MONGO_USER }}:{{ FORUM_MONGO_PASSWORD }}@{%- for host in FORUM_MONGO_HOSTS -%}{{ host }}:{{ FORUM_MONGO_PORT }}{%- if not loop.last -%},{%- endif -%}{%- endfor -%}/{{ FORUM_MONGO_DATABASE }}{%- if FORUM_MONGO_OPTION_STRING -%}?{{ FORUM_MONGO_OPTION_STRING }}{%- endif -%}"
FORUM_API_KEY: "{{ COMMENTS_SERVICE_KEY }}"
FORUM_ELASTICSEARCH_HOST: "elasticsearch.service.consul"

EDXAPP_ELASTIC_SEARCH_CONFIG:
  - host: elasticsearch.service.consul
    port: 9200

### Specific configuration overrides ###

edx_platform_version: '{{ EDX_BRANCH }}'
edx_platform_repo: '{{ EDX_REMOTE }}'

EDXAPP_LMS_PREVIEW_NGINX_PORT: 80
EDXAPP_CMS_NGINX_PORT: 80
EDXAPP_LMS_NGINX_PORT: 80
EDXAPP_CMS_SSL_NGINX_PORT: 443
EDXAPP_LMS_SSL_NGINX_PORT: 443

# Configure TLS
NGINX_ENABLE_SSL: True
NGINX_REDIRECT_TO_HTTPS: True
NGINX_HTTPS_REDIRECT_STRATEGY: "scheme"

NGINX_SSL_CERTIFICATE: '{{ TLS_LOCATION }}/{{ TLS_KEY_NAME }}.crt'
NGINX_SSL_KEY: '{{ TLS_LOCATION }}/{{ TLS_KEY_NAME }}.key'

# Configure HTTP auth
COMMON_ENABLE_BASIC_AUTH: False

# Ask search bots to not index sandboxes
NGINX_ROBOT_RULES:
  - agent: '*'
    disallow: '/'

# Misc feature flags
EDXAPP_ENABLE_OAUTH2_PROVIDER: False
EDXAPP_ENABLE_MOBILE_REST_API: True
EDXAPP_CUSTOM_COURSES_EDX: True
EDXAPP_ENABLE_SYSADMIN_DASHBOARD: True
{% endraw %}
