{
  "PORT": "{{ gr_env.PORT }}",
  "UPDATE_LMS": {{ gr_env.UPDATE_LMS }},
  "REPODIR": "{{ gr_data_repo }}",
  "LOG_LEVEL": "{{ gr_env.LOG_LEVEL }}",
  "NUM_THREADS": {{ gr_env.NUM_THREADS }},
  "LOGFILE": "{{ gr_env.LOGFILE }}",
  "VIRTUAL_ENV": "{{ gr_env.VIRTUAL_ENV }}",
  "EDX_PLATFORM": "{{ gr_env.EDX_PLATFORM }}",
  "DJANGO_SETTINGS": "{{ gr_env.DJANGO_SETTINGS }}"
}
