[Unit]
Description=gunicorn server running gitreload
Requires=network-online.target
StartLimitInterval=60
StartLimitBurst=3

[Service]
{%- for var, val in gr_env.items() %}
Environment={{ var }}={{ val }}
{% endfor -%}
Environment=LANG=en_US.UTF-8
Environment=WORKERS=1
Environment=PID=/var/tmp/gitreload.pid
WorkingDirectory={{ gr_dir }}
User=www-data
ExecStart={{ gr_env.VIRTUAL_ENV }}/bin/gunicorn --preload -b 0.0.0.0:${PORT} -w ${WORKERS} --timeout=10 gitreload.web:app
Restart=always