#!/bin/bash

set -x

export LC_ALL='en_US.UTF-8'
export LANG='en_US.UTF-8'

# Checkout the Ansible submodules
if [[ -e {{ venv_path }}/src/ansible/ ]]
then
    cd {{ venv_path }}/src/ansible/
    git submodule init
    git submodule update
    source {{ venv_path }}/src/ansible/hacking/env-setup
fi

# Source the virtualenv and ansible dev environment script
source {{ venv_path }}/bin/activate

# Run ansible
if [[ -e {{ venv_path }}/src/ansible/ ]]
then
    rm {{ data_path }}/ansible-log.txt
fi
cd {{ repo_path }}/playbooks
{% for playbook in playbooks %}
ansible-playbook -c local -i localhost, {{ playbook }} --extra-vars @{{ conf_file }} {{ extra_flags }} 2>&1 | \
    tee -a {{ data_path }}/ansible-log.txt
{% endfor %}
