---
edx_venv_path: "{{ edxapp_venv }}"
edx_platform_path: "{{ edxapp_app }}"
flask_secret_key: "{{ SITE_KEY }}"
log_level: "{{ LOG_LEVEL }}"
CELERY_BROKER_URL: "{{ CELERY_BROKER_URL }}"
CELERY_RESULT_BACKEND: "{{ CELERY_RESULT_BACKEND }}"
{{ XSIFTX_CONSUMERS | yaml }}
