{% set tls_forward = {
    'directive': 'match',
    'directive_arg': '**',
    'attrs': [
        {'@type': 'forward'},
        {'transport': 'tls'},
        {'tls_client_cert_path': salt.sdb.get('sdb://yaml/fluentd:cert_path')},
        {'tls_client_private_key_path': salt.sdb.get('sdb://yaml/fluentd:cert_key_path')},
        {'tls_ca_cert_path': salt.sdb.get('sdb://yaml/fluentd:ca_cert_path')},
        {'tls_allow_self_signed_cert': 'true'},
        {'tls_verify_hostname': 'false'},
        {'verify_connection_at_startup': 'true'},
        {'nested_directives': [
            {'directive': 'server',
             'attrs': [
                 {'host': 'operations-fluentd.query.consul'},
                 {'port': 5001 },
                 ]
            }
        ]
        }
    ]
} %}