edxapp_secret_backends: &edxapp_secret_backends
  mysql:
    role_prefixes:
      - edxapp
      - edxapp-csmh
      - xqueue
  mongodb:
    role_prefixes:
      - modulestore
      - contentstore
      - gitlog
      - forum
  rabbitmq:
    role_prefixes:
      - xqueue
      - celery
  aws:
    bucket_prefixes:
      - mitx-etl
      - mitx-grades
      - mitx-storage

current_residential_versions_qa: &current_residential_versions_qa
  edx_config_repo: https://github.com/mitodl/configuration
  edx_config_version: open-release/hawthorn.beta1
  edx_platform_repo: 'https://github.com/mitodl/edx-platform'
  edxapp: mitx/hawthorn
  forum_source_repo: 'https://github.com/mitodl/cs_comments_service'
  forum: open-release/hawthorn.beta1
  xqueue_source_repo: 'https://github.com/mitodl/xqueue'
  xqueue: open-release/hawthorn.beta1
  xqwatcher_courses: production
  theme_source_repo: 'https://github.com/mitodl/mitx-theme'
  theme: hawthorn
  codename: hawthorn
  ami_id: ami-80861296

current_residential_versions_rp: &current_residential_versions_rp
  edx_config_repo: https://github.com/mitodl/configuration
  edx_config_version: open-release/hawthorn.beta1
  edx_platform_repo: 'https://github.com/mitodl/edx-platform'
  edxapp: mitx/hawthorn
  forum_source_repo: 'https://github.com/mitodl/cs_comments_service'
  forum: open-release/hawthorn.beta1
  xqueue_source_repo: 'https://github.com/mitodl/xqueue'
  xqueue: open-release/hawthorn.beta1
  xqwatcher_courses: production
  theme_source_repo: 'https://github.com/mitodl/mitx-theme'
  theme: hawthorn
  codename: hawthorn
  ami_id: ami-80861296

next_residential_versions: &next_residential_versions
  edx_config_repo: https://github.com/mitx/configuration.git
  edx_config_version: open-release/hawthorn.master
  edx_platform_repo: 'https://github.com/mitodl/edx-platform'
  edxapp: mitx/hawthorn-release
  forum_source_repo: 'https://github.com/mitodl/cs_comments_service'
  forum: open-release/hawthorn.master
  xqueue_source_repo: 'https://github.com/mitodl/xqueue'
  xqueue: open-release/hawthorn.master
  xqwatcher_courses: master
  theme_source_repo: 'https://github.com/mitodl/mitx-theme'
  theme: master
  codename: hawthorn-release
  ami_id: ami-80861296

edxapp_continuous_delivery_versions: &continuous_delivery_versions
  edx_config_repo: https://github.com/edx/configuration.git
  edx_config_version: master
  edx_platform_repo: 'https://github.com/edx/edx-platform'
  edxapp: master
  forum_source_repo: 'https://github.com/edx/cs_comments_service'
  forum: master
  xqueue_source_repo: 'https://github.com/edx/xqueue'
  xqueue: master
  xqwatcher_courses: master
  theme_source_repo: 'https://github.com/mitodl/mitx-theme'
  theme: master
  codename: tumbleweed
  ami_id: ami-80861296

sandbox_residential_versions: &sandbox_residential_versions
  edx_config_repo: https://github.com/edx/configuration.git
  edx_config_version: open-release/hawthorn.beta1
  edx_platform_repo: 'https://github.com/mitodl/edx-platform'
  edxapp: mitx/hawthorn
  codename: hawthorn
  ami_id: ami-80861296

environments:
  mitx-qa:
    business_unit: residential
    network_prefix: 10.5
    vpc_name: MITx QA
    secret_backends:
      <<: *edxapp_secret_backends
    backends:
      rds:
        - name: mitxcas
          multi_az: False
          engine: postgres
          vault_plugin: postgresql-database-plugin
          db_instance_class: db.t2.small
          allocated_storage: 50
          public_access: False
          engine_version: 10.1
          purpose: mitx-cas
      elasticache:
        - engine: memcached
          engine_version: 1.4.34
          node_type: cache.t2.small
          num_cache_nodes: 1
          cluster_id: continuous-delivery
          purpose: continuous-delivery
        - engine: memcached
          engine_version: 1.4.34
          node_type: cache.t2.small
          num_cache_nodes: 1
          cluster_id: current-res-live
          purpose: current-residential-live
        - engine: memcached
          engine_version: 1.4.34
          node_type: cache.t2.small
          num_cache_nodes: 1
          cluster_id: current-res-draft
          purpose: current-residential-draft
        - engine: memcached
          engine_version: 1.4.34
          node_type: cache.t2.small
          num_cache_nodes: 1
          cluster_id: next-res-live
          purpose: next-residential-live
        - engine: memcached
          engine_version: 1.4.34
          node_type: cache.t2.small
          num_cache_nodes: 1
          cluster_id: next-res-draft
          purpose: next-residential-draft
    purposes:
      xqwatcher:
        business_unit: residential
        versions:
          xqwatcher: 20ab9e6d645b0b8850f14db558499e62e554d8a2
          edx_config_repo: https://github.com/edx/configuration
          edx_config_version: open-release/hawthorn.beta1
        num_instances: 2
      current-residential-live:
        business_unit: residential
        domains:
          cms: studio-mitx-qa.mitx.mit.edu
          lms: mitx-qa.mitx.mit.edu
          preview: preview-mitx-qa.mitx.mit.edu
          gitreload: prod-gr-qa.mitx.mit.edu
        versions:
          <<: *current_residential_versions_qa
        instances:
          edx:
            number: 2
            type: t2.large
          edx-worker:
            number: 1
            type: t2.large
      current-residential-draft:
        business_unit: residential
        domains:
          cms: studio-mitx-qa-draft.mitx.mit.edu
          lms: mitx-qa-draft.mitx.mit.edu
          preview: preview-mitx-qa-draft.mitx.mit.edu
          gitreload: gr-qa.mitx.mit.edu
        versions:
          <<: *current_residential_versions_qa
        instances:
          edx:
            number: 1
            type: t2.large
          edx-worker:
            number: 1
            type: t2.large
      next-residential-live:
        business_unit: residential
        domains:
          cms: studio-mitx-qa-next.mitx.mit.edu
          lms: mitx-qa-next.mitx.mit.edu
          preview: preview-mitx-qa-next.mitx.mit.edu
          gitreload: prod-gr-qa-next.mitx.mit.edu
        versions:
          <<: *next_residential_versions
        instances:
          edx:
            number: 2
            type: t2.large
          edx-worker:
            number: 1
            type: t2.large
      next-residential-draft:
        business_unit: residential
        domains:
          cms: studio-mitx-qa-draft-next.mitx.mit.edu
          lms: mitx-qa-draft-next.mitx.mit.edu
          preview: preview-mitx-qa-draft-next.mitx.mit.edu
          gitreload: gr-qa-next.mitx.mit.edu
        versions:
          <<: *next_residential_versions
        instances:
          edx:
            number: 1
            type: t2.large
          edx-worker:
            number: 1
            type: t2.large
      sandbox:
        business_unit: residential
        domains:
          cms: studio-mitx-qa-sandbox.mitx.mit.edu
          lms: mitx-qa-sandbox.mitx.mit.edu
          preview: preview-mitx-qa-sandbox.mitx.mit.edu
        versions:
          <<: *sandbox_residential_versions
        instances:
          edx:
            number: 1
            type: t2.medium
      continuous-delivery:
        business_unit: residential
        domains:
          cms: studio-mitx-qa-testing.mitx.mit.edu
          lms: mitx-qa-testing.mitx.mit.edu
          preview: preview-mitx-qa-testing.mitx.mit.edu
          gitreload: prod-gr-qa-testing.mitx.mit.edu
        versions:
          <<: *continuous_delivery_versions
        instances:
          edx:
            number: 1
            type: t2.large
          edx-worker:
            number: 1
            type: t2.large
      mitx-cas:
        business_unit: operations
        domains:
          - auth.mitx.mit.edu
        num_instances: 1
  mitx-production:
    business_unit: residential
    network_prefix: 10.7
    vpc_name: MITx Production
    secret_backends:
      <<: *edxapp_secret_backends
    backends:
      rds:
        - name: mitxcas
          multi_az: True
          engine: postgres
          vault_plugin: postgresql-database-plugin
          db_instance_class: db.t2.small
          allocated_storage: 100
          public_access: False
          engine_version: 10.1
          purpose: mitx-cas
      elasticache:
        - engine: memcached
          engine_version: 1.4.34
          node_type: cache.t2.small
          num_cache_nodes: 2
          purpose: residential-live
          cluster_id: residential-live
        - engine: memcached
          engine_version: 1.4.34
          node_type: cache.t2.small
          num_cache_nodes: 2
          purpose: residential-draft
          cluster_id: residential-draft
    purposes:
      xqwatcher:
        business_unit: residential
        versions:
          xqwatcher: 20ab9e6d645b0b8850f14db558499e62e554d8a2
          edx_config_repo: https://github.com/edx/configuration
          edx_config_version: open-release/hawthorn.beta1
        num_instances: 2
      residential-draft:
        business_unit: residential
        domains:
          lms: staging.mitx.mit.edu
          cms: studio-staging.mitx.mit.edu
          preview: preview-staging.mitx.mit.edu
          gitreload: gr-rp.mitx.mit.edu
        versions:
          <<: *current_residential_versions_rp
          xqwatcher_courses: master
        instances:
          edx:
            number: 3
            type: r4.large
          edx-worker:
            number: 2
            type: t2.large
      residential-live:
        business_unit: residential
        domains:
          lms: lms.mitx.mit.edu
          cms: studio.mitx.mit.edu
          preview: preview.mitx.mit.edu
          gitreload: prod-gr-rp.mitx.mit.edu
        versions:
          <<: *current_residential_versions_rp
        instances:
          edx:
            number: 6
            type: r4.large
          edx-worker:
            number: 3
            type: t2.xlarge
      mitx-cas:
        business_unit: operations
        domains:
          - auth.mitx.mit.edu
          - cas.mitx.mit.edu
        num_instances: 2
        security_groups:
          - edx
  micromasters:
    business_unit: micromasters
    network_prefix: 10.10
    vpc_name: micromasters
    secret_backends:
      - postgresql
      - aws
    purposes:
      - micromasters
  bootcamps:
    business_unit: bootcamps
    network_prefix: 10.11
    vpc_name: bootcamps
    secret_backends:
      - postgresql
      - aws
    purposes:
      - bootcamps
  operations:
    business_unit: operations
    network_prefix: 10.0
    vpc_name: mitodl-operations-services
    purposes:
      redash:
        num_instances: 1
        domains:
          - bi.odl.mit.edu
        business_unit: operations
        security_groups:
          - webapp-odl-vpn
      amps-redirect:
        num_instances: 1
        domains:
          - amps.odl.mit.edu
        business_unit: operations
        security_groups:
          - webapp
    backends:
      elasticache:
        - engine: redis
          engine_version: 3.2.10
          node_type: cache.t2.medium
          num_cache_nodes: 2
          purpose: redash
          cluster_id: redash-redis
          parameter_group_name: default.redis3.2
          failover_enabled: False
          business_unit: operations
      rds:
        - name: saltmaster
          multi_az: True
          engine: postgres
          vault_plugin: postgresql-database-plugin
          db_instance_class: db.t2.small
          allocated_storage: 100
          public_access: False
          engine_version: 10.1
          purpose: saltmaster
        - name: redash
          multi_az: True
          engine: postgres
          vault_plugin: postgresql-database-plugin
          db_instance_class: db.t2.small
          allocated_storage: 100
          public_access: False
          engine_version: 10.1
          purpose: redash
        - name: techtvcopy
          multi_az: False
          engine: mariadb
          vault_plugin: mysql-database-plugin
          db_instance_class: db.t2.micro
          allocated_storage: 25
          public_access: False
          purpose: techtv
  production-apps:
    business_unit: operations
    network_prefix: 10.13
    vpc_name: Production Apps
    purposes:
      odl-video-service:
        num_instances: 3
        domains:
          - video.odl.mit.edu
          - techtv.mit.edu
          - ttv.mit.edu
        business_unit: odl-video-service
        security_groups:
          - webapp
      reddit:
        domains:
          - discussions-reddit-production-apps.odl.mit.edu
        num_instances: 3
        business_unit: operations
        healthcheck: /health
        security_groups:
          - webapp
      apps-es:
        business_unit: operations
        domains:
          - elasticsearch-production-apps.odl.mit.edu
        security_groups:
          - webapp
    backends:
      rds:
        - name: reddit
          multi_az: True
          # This needs to be changed if/when we redeploy this host.
          # It is only like this to fix Consul pillar rendering
          engine: postgresql
          vault_plugin: postgresql-database-plugin
          db_instance_class: db.t2.medium
          allocated_storage: 100
          public_access: False
        - name: opendiscussions
          multi_az: True
          # This needs to be changed if/when we redeploy this host.
          # It is only like this to fix Consul pillar rendering
          engine: postgresql
          vault_plugin: postgresql-database-plugin
          db_instance_class: db.t2.small
          allocated_storage: 100
          public_access: True
        - name: odlvideo
          multi_az: True
          engine: postgres
          vault_plugin: postgresql-database-plugin
          db_instance_class: db.t2.small
          allocated_storage: 100
          public_acces: False
      elasticache:
        - engine: memcached
          engine_version: 1.4.34
          node_type: cache.t2.medium
          num_cache_nodes: 2
          purpose: reddit
          cluster_id: reddit-memcached
        - engine: redis
          engine_version: 3.2.10
          node_type: cache.t2.medium
          num_cache_nodes: 2
          purpose: odl-video-service
          cluster_id: ovs-production-redis
          parameter_group_name: default.redis3.2
          failover_enabled: False
          business_unit: odl-video
  rc-apps:
    business_unit: operations
    network_prefix: 10.12
    vpc_name: RC Apps
    purposes:
      odl-video-service:
        business_unit: odl-video-service
        domains:
          - video-rc.odl.mit.edu
          - techtv-dev.mit.edu
          - ttv-dev.mit.edu
        num_instances: 1
        security_groups:
          - webapp
      reddit:
        domains:
          - discussions-reddit-rc-apps.odl.mit.edu
        num_instances: 2
        business_unit: operations
        healthcheck: /health
        security_groups:
          - webapp
      apps-es:
        business_unit: operations
        domains:
          - elasticsearch-rc-apps.odl.mit.edu
        security_groups:
          - webapp
    backends:
      rds:
        - name: reddit
          multi_az: False
          # This needs to be changed if/when we redeploy this host.
          # It is only like this to fix Consul pillar rendering
          engine: postgresql
          vault_plugin: postgresql-database-plugin
          db_instance_class: db.t2.small
          allocated_storage: 100
          public_access: False
        - name: opendiscussions
          multi_az: False
          # This needs to be changed if/when we redeploy this host.
          # It is only like this to fix Consul pillar rendering
          engine: postgresql
          vault_plugin: postgresql-database-plugin
          db_instance_class: db.t2.micro
          allocated_storage: 100
          public_access: True
        - name: odlvideo
          multi_az: True
          engine: postgres
          vault_plugin: postgresql-database-plugin
          db_instance_class: db.t2.micro
          allocated_storage: 100
          public_acces: False
      elasticache:
        - engine: memcached
          engine_version: 1.4.34
          node_type: cache.t2.medium
          num_cache_nodes: 2
          purpose: reddit-rc
          cluster_id: reddit-rc-memcached
        - engine: redis
          engine_version: 3.2.10
          node_type: cache.t2.medium
          num_cache_nodes: 1
          purpose: odl-video-service
          cluster_id: ovs-rc-redis
          parameter_group_name: default.redis3.2
          failover_enabled: False
          business_unit: odl-video

business_units:
  - bootcamps
  - micromasters
  - mitxpro
  - odl-video
  - open-courseware
  - operations
  - residential
  - starteam
